[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-bolt = "==1.11.2"
requests = "==2.27.1"
validators = "==0.18.2"
pylint = "==2.12.2"
yapf = "==0.32.0"
platformdirs = "==2.4.0"
setuptools = "==39.2.0"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.6"
